<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAR_run_Procesador_de_textos/src/_101_105_Procesador_de_Textos.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_101_105_Procesador_de_Textos"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAR_run_Procesador_de_textos"/>
</launchConfiguration>
