<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAR_run_Procesador_de_texto_mejora/src/Pantalla/_106_110_Procesador_de_texto_mejorado.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Pantalla._106_110_Procesador_de_texto_mejorado"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAR_run_Procesador_de_texto_mejora"/>
</launchConfiguration>
